In [1]:
import pandas

In [2]:
import pandas as pd
mydata = pd.read.csv('/Users/jangpyo/Downloads/unemployment.csv')
mydata

AttributeError: module 'pandas' has no attribute 'read'

In [3]:
import pandas
mydata = pandas.read.csv('/Users/jangpyo/Downloads/unemployment.csv')
mydata

AttributeError: module 'pandas' has no attribute 'read'

In [4]:
import pandas as pd
mydata = pd.read_csv('/Users/jangpyo/Downloads/unemployment.csv')
mydata

,Month,Persons 15-24 unemployment rate (%),Persons 25-34 unemployment rate (%),Persons 35-44 unemployment rate (%),Persons 45-54 unemployment rate (%),Persons 55-64 unemployment rate (%),Persons 65 and over unemployment rate (%),Persons 15 and over unemployment rate (%),Persons 15-64 unemployment rate (%)
0,Dec-78,13.4,4.2,3.5,3.4,3.3,-,6.4,6.4
1,Dec-79,12.5,4.7,3.1,2.7,2.9,1.6,6.1,6.1
2,Dec-80,12.3,4.5,2.7,3.0,3.0,1.4,6.1,6.1
3,Dec-81,11.9,4.7,3.4,2.8,3.1,1.5,6.0,6.1
4,Dec-82,17.4,7.6,4.9,4.5,4.6,1.1,9.4,9.4
...,...,...,...,...,...,...,...,...,...
522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
mydata['Persons 25-34 unemployment rate (%)' ].mean()

5.9125

In [5]:
mydata['Persons 25-34 unemployment rate (%)' ].min()

3.8

In [6]:
mydata['Persons 25-34 unemployment rate (%)' ].max()

10.4